<body>
  <!--CSS Spinner-->

  <!-- Loader -->
  <main class="bg-near-white ph1 pa0">
    <div class="cf center">
      <div class="fl w-100 w-50-l pa2">
        {{! <a class="dt" href="/projects/xyz"> }}
        <img class="projxyz db w-100 mw10" src="/img/thumb-xyz-3.jpg" />
        {{! </a> }}
        <a
          class="projxyz link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          {{! href="/projects/xyz" }}
        >XYZ - HTK exhibition poster</a>
      </div>
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" ref="/projects/stephenwilkss">
          <img class="db w-100 mw10" src="/img/thumb-stephenwilks.jpg" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          ref="/projects/stephenwilkss"
        >Stephen Wilks website</a>
      </div>
    </div>
  </main>

  <main class="bg-near-white ph1 pa0">
    <div class="cf center">
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/myposterboom">
          <img
            class="db w-100 mw10"
            src="/img/thumb-myposterboom-motion-3.gif"
          />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/myposterboom"
        >#myposterboom</a>
      </div>
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/greek-theater">
          <img class="db w-100 mw10" src="/img/thumb-theater-1.jpg" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/greek-theater"
        >Greek Theater</a>
      </div>
    </div>
  </main>

  <main class="bg-near-white ph1 pa0">
    <div class="cf center">
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/judaikit">
          <img class="db w-100 mw10" src="/img/thumb-judaikit-9.jpg" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/judaikit"
        >JUDAIKIT</a>
      </div>
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/luminaire">
          <img class="db w-100 mw10" src="/img/thumb-luminair-motion-1.gif" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/luminaire"
        >Luminaire light festival</a>
      </div>
    </div>
  </main>

  <main class="bg-near-white ph1 pa0">
    <div class="cf center">
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/jumper92">
          <img class="db w-100 mw10" src="/img/thumb-jumper92-10.jpg" /></a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/jumper92"
        >JUMPER 92 store</a>
      </div>
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/softcrab">
          <img class="db w-100 mw10" src="/img/thumb-softcrab-3.jpg" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/softcrab"
        >Softcrab</a>
      </div>
    </div>
  </main>

  <main class="bg-near-white ph1 pa0">
    <div class="cf center">
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/infographics">
          <img class="db w-100 mw10" src="/img/thumb-infographic-6.jpg" /></a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/infographics"
        >Infographics poster</a>
      </div>
      <div class="fl w-100 w-50-l pa2">
        <a class="dt" href="/projects/futura">
          <img class="db w-100 mw10" src="/img/thumb-futura-motion-2.gif" />
        </a>
        <a
          class="link black f3 f1-l f2-m ex6 fw5 tl pb1 mt0 mb0"
          href="/projects/futura"
        >Futura booklet</a>
      </div>
    </div>
  </main>

  <!--
<main class="bg-near-white ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt" href="#">
				<img class="db w-100" src="/img/softcrab-2.jpg" alt="1">
			</a>
			<p class="black f6 f5-l f5-m fw5 tl pb2 mb0">SoftCrab - Campaign design<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" href="/projects/chairs-fair.html">
				<img class="db w-100" src="/img/chairs-6.jpg" alt="1">
			</a>
			<p class="black f6 f5-l f5-m fw5 tl pb2">Chairs fair - Event design<p>
        </div>
      </div>
</main>
-->
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../index-hb.js"></script>