<body>

<main class="bg-near-white ph1 pa0 pb5 pb7-l pb6-m">
	<div class="cf center ph1 pa0 pa1-l">
		<div class="fl db w-100 w-30-l pa2 ph1">
			<div class="fl db w-100 pa0">
				<img src="/img/website_me.jpg">
				<p class="black f4 f3-l f3-m tl pb2 mt0 pt0 mb0">Photo by
					<a class="link black f4 f3-l f3-m ex6 hover-light-red" href="https://stephenwilks.net/" target="_blank" >Stephen Wilks</a><p>
			</div>
        </div>
				<div class="fl db w-100 w-10-l pa0">
				<img src="">
        </div>
		<div class="fl db w-100 w-60-l pa2 ph1">
			<p class="black measure f4 f2-l f3-m fw4 lh-title mt0">
				<u>About</u></br>
				Hello, I'm Hadass, a multi-disciplinary communication designer, originally from Israel, based in Berlin.</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm passionate about creating <u>contemporary, thoughtful, and yet practical design</u>, with a particular interest in graphic design,
				visual design concept, web and editorial design.</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In my free time I love exploring illustrations and art, visiting museums around the world and learning to design with HTML.</br></br>
			
				<u>Press</u></br>
				<a class="link black ex6 hover-light-red" href="https://www.packagingoftheworld.com/2020/07/judaikit-modern-branding-of-jewish.html" target="_blank">Packaging of the World</a></br>
				<a class="link black ex6 hover-light-red" href="https://www.designmadeingermany.de/2020/175005/" target="_blank">Design made in Germany</a>
				</br></br>
				
				<u>Contact</u></br>
				For any queries, commissions or collaborations, feel free to get in touch in <a class="link black ex6 hover-light-red" href="https://pbs.twimg.com/media/CiQndxAWUAECXo0?format=jpg" target="_blank" ><u>Hebrew</u></a>/
				<a class="link black ex6 hover-light-red" href="https://i.imgflip.com/1oje9t.jpg" target="_blank"><u>English</u></a>/
				<a class="link black ex6 hover-light-red" href="https://i.pinimg.com/600x315/42/b8/3b/42b83b057e0fccbbb484af97fec3386f.jpg" target="_blank"><u>German</u></a>:</br>
				<a class="link black ex6 hover-light-red" href="mailto:info@hadass-sternberg.com" target="_blank" >
				info@hadass-sternberg.com</a></br>
				<a class="link black ex6 hover-light-red" href="mailto:tel:+4915751102144" target="_blank" >
				+49 (0)1575 1102 144</a></br></br>
			</p>
        </div>
	</div>
</main>

</body>