<body>
	<!--CSS Spinner-->


<!-- Loader -->
<main class="bg-black ph1 pa0 pb2">
	  <div class="cf center">
        <div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa0 pa2-l pa2-m">
			<p class="dt black f4 f2-l f3-m fw4 mt0">
			</p>
        </div>
		<div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa2">
			<p class="dt near-white f4 f2-l f3-m fw4 mt0 lh-title">
				<a class="link near-white hover-blue " target="_blank" href="https://www.instagram.com/explore/tags/myposterboom/">#myposterboom </a> &mdash; 2020</br>
				Graphic Design</br></br>
				30-days poster design challenge.</br>
				Soon available for purchase
			</p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-30.gif" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 30<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-29.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 29<p>
        </div>
      </div>
</main>


<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-28.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 28<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-27.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 27<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-26.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 26<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-25.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 25<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-24.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 24<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-23.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 23<p>
        </div>
      </div>
</main>


<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-22.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 22<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-21.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 21<p>
        </div>
      </div>
</main>


<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-20.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 20<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-19.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 19<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-18.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 18<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-17.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 17<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-16.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 16<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-15.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 15<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-14.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 14<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-13.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 13<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-12.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 12<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-11.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 11<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt"  >
				<img class="db w-100 mw10" src="/img/poster-10.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 10<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-9.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 9<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
        <div class="fl w-100 w-50-l pa2">
			<a class="dt">
				<img class="db w-100 mw10" src="/img/poster-8.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 8<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-7.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2 mb0">Day 7<p>
        </div>
      </div>
</main>


<main class="bg-black ph1 pa0">
	  <div class="cf center">
		<div class="fl w-100 w-50-l pa2">
			<a class="dt">
          <img class="db w-100 mw10" src="/img/poster-6.jpg" ></a>
		  <p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 6<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-5.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 5<p>
        </div>
      </div>
</main>


<main class="bg-black ph1 pa0">
	  <div class="cf center">
		<div class="fl w-100 w-50-l pa2">
			<a class="dt">
          <img class="db w-100 mw10" src="/img/poster-4.jpg" ></a>
		  <p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 4<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-3.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 3<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0">
	  <div class="cf center">
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
          <img class="db w-100 mw10" src="/img/poster-2.jpg" ></a>
		  <p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 2<p>
        </div>
		<div class="fl w-100 w-50-l pa2">
			<a class="dt" >
				<img class="db w-100 mw10" src="/img/poster-1.jpg" >
			</a>
			<p class="near-white f6 f5-l f5-m fw5 tl pb2">Day 1<p>
        </div>
      </div>
</main>

<main class="bg-black ph1 pa0 pb2">
	  <div class="cf">
        <div class="fl w-50 pa2">
			<p class="db near-white f3 f1-l f2-m fw4 mt0">
				<a class="link near-white ex6 hover-light-red" href="#top">↑ Top</a>
			</p>
        </div>
		<div class="fl w-50 pa2">
			<p class="dt near-white f3 f1-l f2-m tr tc-l tc-m fw4 mt0">
				<a class="link near-white ex6 hover-light-red" href="/project-greek-theater">Next →</a>
			</p>
        </div>
      </div>
</main> 


</body>