<body>

<main>
<main class="bg-near-white ph1 pa0 pb2">
	  <div class="cf center">
        <div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa0 pa2-l pa2-m">
			<p class="dt black f4 f2-l f3-m fw4 mt0">
			</p>
        </div>
		<div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa2">
			<p class="dt black f4 f2-l f3-m fw4 mt0 lh-title">
				JUDAIKIT &mdash; 2020</br>
				Packaging design, branding, web design, HTML coding</br></br>
				This is an innovative look on judaica - Jewish cerimonial art. Unlike the commonly traditionally known judaica,
				JUDAIKIT is a new brand of modern jewish art packed in kits, aimed for a new celebration of a culutral experience.</br>
				<u>The project consist of 3 kit-lines: Basic. Holiday and Life occasions.</u> I've moduled a kit from each line, which represents the spirit and the design system of each line too.
				</br></br>
				Full project online:
				<a class="link black f4 f3-l f3-m fw4 hover-light-red" href="https://judaikit.online/"  target="_blank" ><u>judaikit.online</u></a>
			</p>
        </div>
      </div>
</main>


<!-- Shabbat kit -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db center w-100" src="/img/judaikit-1.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- Shabbat kit angle -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-4.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- welcome map -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-2.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- booklet -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-3.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- 50 L wine -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-50-l w-100">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-5.jpg" alt="4">
			</a>
        </div>
      </div>
</main>

<!-- kippah -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/kippah-motion2.gif" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- candle holders -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-7.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- table cloth  -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-8.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- shabbat img -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-9.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- Hanukkah Kit  -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-10.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!--  Hanukkah kit angle -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-13.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!--  welcome map -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-11.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- booklet -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-12.jpg" alt="1">
			</a>
        </div>
      </div>
</main>


<!--  50 R candles -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
		<div class="fl db w-100 w-50-l pa0">
				<img src="">
        </div>
        <div class="fl w-100 w-50-l center">
			<a class="dt">
				<img class="db w-100 mw10" src="/img/candles-1.gif" alt="2">
			</a>
        </div>
      </div>
</main>

<!--  Hanukkiah -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-15.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- Hanukkah img  -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-16.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- Consolation Kit  -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-17.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!--  kit angle -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-20.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- Welcome map -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-18.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!-- booklet  -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-19.jpg" alt="1">
			</a>
        </div>
      </div>
</main>


<!-- candle -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-50-l w-100">
			<a class="dt">
				<img class="db w-100" src="/img/memorial-candle-motion.gif" alt="4">
			</a>
        </div>
      </div>
</main>

<!-- extras -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-22.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!--  consolation img -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/judaikit-23.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<!--  UI -->
<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt" href="https://judaikit.online/"  target="_blank">
				<img class="db w-100" src="/img/judaikit-24.jpg" alt="1">
			</a>
        </div>
      </div>
</main>


<main class="bg-near-white ph1 pa0 pb2">
	  <div class="cf">
        <div class="fl w-50 pa2">
			<p class="db black f3 f1-l f2-m fw4 mt0">
				<a class="link black ex6 hover-light-red" href="#top">↑ Top</a>
			</p>
        </div>
		<div class="fl w-50 pa2">
			<p class="dt black f3 f1-l f2-m tr tc-l tc-m fw4 mt0">
				<a class="link black ex6 hover-light-red" href="/project-luminaire">Next →</a>
			</p>
        </div>
      </div>
</main>
</body>