<body>

<main class="bg-near-white ph1 pa0 pb2">
	  <div class="cf center">
        <div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa0 pa2-l pa2-m">
			<p class="dt black f4 f2-l f3-m fw4 mt0">
			</p>
        </div>
		<div class="fl w-100 w-50-l w-50-m phs pr5-l pr4-m pa2">
			<p class="dt black f4 f2-l f3-m fw4 mt0 lh-title">
				<u>Chairs fair event &mdash; 2018</u></br>
				Branding, Illustration</br></br>
				Playful, dynamic illustrations with clean, sharp modern layout and typography are the core of a new chairs fair event.
			</p>
        </div>
      </div>
</main>


<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-1.jpg" alt="1">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
		<div class="fl w-100 w-50-l center">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-60.jpg" alt="2">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-3.jpg" alt="3">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-6.jpg" alt="3">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 w-50-l">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-4.jpg" alt="4">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100 mw10" src="/img/chairs-motion1.gif" alt="4">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph2 pa1">
	  <div class="cf center ph1 pa0 pa1-l">
        <div class="fl w-100 center">
			<a class="dt">
				<img class="db w-100" src="/img/chairs-5.jpg" alt="5">
			</a>
        </div>
      </div>
</main>

<main class="bg-near-white ph1 pa0 pb2">
	  <div class="cf">
        <div class="fl w-50 pa2">
			<p class="db black f3 f1-l f2-m fw4 mt0">
				<a class="link black ex6 hover-light-red" href="#top">↑ Top</a>
			</p>
        </div>
		<div class="fl w-50 pa2">
			<p class="dt black f3 f1-l f2-m tr tc-l tc-m fw4 mt0">
				<a class="link black ex6 hover-light-red" href="/project-judaikit">Next →</a>
			</p>
        </div>
      </div>
</main>
</body>