

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Questrial:400);

	body{
		font-family: 'Questrial', Arial, sans-serif;
	}

		h1, h2, h3, h4, h5, h6{
		font-family: 'Questrial', Arial, sans-serif;
	}
	.garamond { font-family: garamond, serif; }
	.avenir { font-family: 'avenir next', avenir, sans-serif; }
	.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
	.bodoni { font-family: "Bodoni MT", serif; }
	.pb8 { padding-bottom: 24rem; }
	.pb8-l { padding-bottom: 24rem; }
	.pb8-m { padding-bottom: 24rem; }
	.pb8-ns { padding-bottom: 24rem; }

	<!-- index nax area -->
	div.b { height: 200px;}
	div.b2 { height: 100px;}
	div.b3 { height: 80px;}
	
	<!-- italic/different font upon hover -->
	a.ex4:hover, a.ex4:active {font-family: monospace;}
	a.ex5:hover, a.ex5:active {text-decoration: underline;}
	a.ex6:hover, a.ex6:active {font-style: italic;}
	
	<!-- different text upon hover -->
	.label:after{
    content:'Hadass Sternberg';
	}
	.label:hover:after{
    content:'  <sup>Communication designer</sup>';
	}

	a {
		outline: 0;
		outline: none;
	}
	
	
	<!-- enlarge font upon hover -->
	
	@keyframes ldio-lt6rgcsawgm {
		0% { transform: translate(-50%,-50%) rotate(0deg); }
		100% { transform: translate(-50%,-50%) rotate(360deg); }
			}

	.spinner {
		width: 40px;
		height: 40px;
		background-color: #333;

		position: absolute;
		top: 48%;
		left: 48%;
		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}

	@-webkit-keyframes sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}

	@keyframes sk-rotateplane {
		0% {
			 transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			 -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
			  } 100% {
			    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			  }
			}
			.spinner-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000000;
		z-index: 999999;
		}
